.animal-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-align: center;
}
/* display: flex;
flex-direction: row;
flex-wrap: wrap;
background-size: cover;
height: 640px;
position: absolute; */